_code/.metadata
_code/java-basic/bin/
_code/java-basic/tmp/
_code/java-basic/*.tmp
_code/java-basic/*.bak
_code/java-basic/*.swp
_code/java-basic/*~.nib
_code/java-basic/local.properties
_code/java-basic/.settings/
_code/java-basic/.loadpath
_code/java-basic/.recommenders
_code/java-basic/.classpath
_code/java-basic/.project
_code/java-basic/.recommenders
_code/java-basic/.doc/